@using AspNet.MVC.Controls.Sample.Models
@using DataTables.MVC.Control.Models
@{
    ViewBag.Title = "AjaxDataTable";
}

<h2>AjaxDataTable <small>(server-side)</small></h2>

<p>
    This is actually the sama AjaxDataTable html helper method. The only diffrence is that the table configuration has set the serverside option set to true. The each click (for sorting, 
    paging, etc.) makes a new ajax call to the server, passing in the parameters for sorting, which page, how many records and so on. You have to take care for the fullfilment of the desired
    behaviour yourself. This is actually meant for large data sources.<br /><br />Apart from that the possibilities for configuration and customization are completely the same.
</p>

@(Html.AjaxDataTable<ArticleViewModel>(new TableConfiguration() { AjaxReadUrl = Url.Action("List"), ServerSide= true,
}, new { style = "width:100%" })
                    .Column(c => c.Id)
                    .Column(c => c.Name)
                    .NumericColumn(c => c.Price, new ColumnConfiguration() { ClassName = "text-right" }, new NumericConfiguration() { DecimalPlaces = 2, DecimalSign = ",", ThousandsSeperator = ".", ValueAppendix = " €" })
                    .DateTimeColumn(c => c.ReleaseDate, new DateTimeConfiguration("DD.MM.YYYY"))
                    .LinkColumn(c => c.Id, new ColumnConfiguration() { Title = "Link" }, new LinkConfiguration()
                    {
                        CssClass = "btn btn-outline-dark btn-sm",
                        InnerHtml = "<span>Edit {Name}</span>",
                        LinkType = LinkType.Script,
                        TagType =  TagType.Anchor,
                        Target = "doSomething({Id})"

                    })
                .Render())

<script>
    function doSomething(id) {
        alert(id);
    }
</script>